<div class="panel panel-default">
  <div class="panel-heading">Stars</div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>User</th>
          <th>Repository</th>
          <th>When</th>
        </tr>
      </thead>
      <tbody>
        <% @star_events.each do |star_event| %>
          <tr>
            <td>
              <%= image_tag star_event.actor_avatar_url, width: "30" %>
              <%= link_to star_event.actor_login, star_event.actor_url %>
            </td>
            <td class="repo">
              <%= link_to star_event.repo_url  do %>
                <%= star_event.repo_name %>
                <small><%= star_event.repo_description %></small>
              <% end %>
            </td>
            <td>
              <% if star_event.event_created_at %>
                <%= local_time star_event.event_created_at %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= paginate @star_events, theme: "twitter-bootstrap-3" %>
  </div>
</div>
