<!DOCTYPE html>
<html>
<head>
  <title>Stars</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= link_to "Stars", stars_path %>
  <%= link_to "Sign in with GitHub", "/auth/github" %>

  <%= yield %>

</body>
</html>
