<!DOCTYPE html>
<html>
<head>
  <title>Stars</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if signed_in? %>
    <ul>
      <li><%= link_to "Stars", stars_path %></li>
      <li><%= link_to "Sign Out", sign_out_path, :method => :delete %></li>
    </ul>
  <% else %>
    <%= link_to "Sign in with GitHub", "/auth/github" %>
  <% end %>

  <%= yield %>

</body>
</html>
